extends ../index.pug

block head
    link(rel="stylesheet" href="/bot/style.css")
    title VK Bot - users

block content
    div.container
        each user in users
            div.card.my-1(data-id=user.vk.id)
                div.card-header.py-1
                    a(href=user.vk.profileUrl)
                        span.text-uppercase.text-info.pr-2 vk
                    b #{user.name}
                div.card-block.py-2
                    div.d-flex.user__access_token.__field-editable
                        b Access Token:
                        code.text-truncate.mx-1.fe-view.fe__show #{user.access_token}
                        a.btn.btn-sm.btn-warning.fe-edit.fe__show(href="/vk/auth" target="_blank") Refresh

                        //- input.code.form-control.text-truncate.mx-1.py-0.fe-model.fe__hide(style="width: 100%;")
                        //- div.btn-toolbar.fe__hide
                            button.btn.btn-sm.btn-success.fe-save(onclick="saveMessageToken(event)") OK
                            button.btn.btn-sm.btn-danger.fe-cancel Cancel

                    div.d-flex.user__message_token.field-editable
                        b Message Token:
                        code.text-truncate.mx-1.fe-view.fe__show #{user.message_token}
                        button.btn.btn-sm.btn-warning.fe-edit.fe__show(onclick="refreshMessageToken()") Refresh

                        input.code.form-control.text-truncate.mx-1.py-0.fe-model.fe__hide(style="width: 100%;")
                        div.btn-toolbar.fe__hide
                            button.btn.btn-sm.btn-success.fe-save(onclick="saveMessageToken(event)") OK
                            button.btn.btn-sm.btn-danger.fe-cancel Cancel

                    //- form.d-flex(onsubmit="saveMessageToken(event)" )
                        b Token:
                        code.text-truncate.mx-1 #{user.access_token}
                        button.btn.btn-sm.btn-warning(onclick="editToken(event)") Refresh

                        div.user__token_edit(style="display: none;")
                            b Token:
                            input.code.form-control.text-truncate.mx-1.py-0(name="access_token" style="width: 100%;")
                            div.btn-toolbar
                                button.btn.btn-sm.btn-success(type="submit" onclick="saveMessageToken(event)") OK
                                button.btn.btn-sm.btn-danger(type="button") Cancel

        else
            div.alert.alert-warning Нет ни одного бота

        div.mt-2
            div
                | Добавить:
                a.btn.btn-sm.btn-outline-success.text-uppercase.ml-1(href="/vk/token" target="_blank") vk
            //- div.pull-right
                a.btn.btn-sm.btn-primary Сохранить

    div#addModal.modal.fade

block include
    script(src="/bot/page.controller.js")
